body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100%;
  width: 100%;
}

h1 {
  color: #272623;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 300;
  line-height: 52px;
  margin-bottom: 48px;
  text-align: center;
}

h3 {
  color: #272623;
  font-family: 'Karla';
  font-size: 26px;
  font-weight: 300;
  line-height: 52px;
  margin-bottom: 0px;
  text-align: center;
}

h4 {
  color: #272623;
  font-family: 'Karla';
  font-size: 36px;
  font-weight: 300;
  line-height: 52px;
  margin-bottom: 26px;
  text-align: center;
}

h5 {
  color: #272623;
  font-family: 'Karla';
  font-size: 14px;
  font-weight: 300;
  line-height: 52px;
  margin-bottom: 26px;
  text-align: center;
}

p {
  color: #272623;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3px;
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;
}

a.answer-choice {
  padding: 20px !important;
  margin-top: 40px !important;
  margin-left: 3vw !important;
  background-color: green;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  /*  padding-top: 50px!important;*/
  /*  margin-top: 40px!important;*/
  margin-right: 3vw;
}

p:before {
  background: #56bba7;
  content: '';
  display: block;
  height: 1px;
  margin: 48px auto 47px;
  width: 50px;
}

a {
  /*  color: #56bba7;*/
  color: #2696dd;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.wrap {
  padding: 96px 0;
  position: relative;
  z-index: 1;
}

a.top {
  margin-top: 40px !important;
}

a.left {
  margin-left: 40px !important;
}

a.right {
  margin-right: 40px !important;
}

a.bottom {
  margin-bottom: 40px !important;
}

a.top {
  margin-top: 40px !important;
}

a.button5 {
  display: inline-block;
  padding: 0.46em 1.6em;
  /* border: 0.1em solid #000000; */
  margin-left: 20vw;
  width: 60vw;
  border-radius: 0.3em;
  /* box-sizing: border-box; */
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  /*  background-color: #42cc8c;*/
  background-color: #2696dd;
  text-align: center;
  vertical-align: middle;
  transition: all 0.15s;
}

a.button5:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #FFFFFF;
  background-color: #3ea7e8;
  transition: 0.3s;
  /* border-color: #FFFFFF; */
}

@media all and (max-width:30em) {
  a.button5 {
    display: block;
    margin: 0.4em auto;
  }
}

#logo {
  font-family: 'Roboto', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  text-align: center;
  position: relative;
}

#logo:after {
  content: "Trump-Guessr";
  position: absolute;
  text-align: center;
  left: -4px;
  top: 9;
}

#logo:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #500 25%, #500 50%, transparent 50%, transparent 75%, #500 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
  text-align: center;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #FFFFFF;
  background: #5eb1e5;
  ;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  background-color: #6abbed;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  max-height: 350px;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #5eb1e5;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}